
<table id="pokemons" class="table table-hover">
  <thead class="thead-dark">
      <tr>
      <th scope="col">Name</th>
      <th scope="col">Type 1</th>
      <th scope="col">Type 2</th>
      <th scope="col">Total</th>
      <th scope="col">HP</th>
      <th scope="col">More information</th>
    </tr>
  </thead>
  <tbody>
      <% @pokemons.each do |pokemon| %>
      <tr>
        <th scope="col"><%= pokemon.name %></th>
        <th scope="col"><%= pokemon.type1 %></th>
        <th scope="col"><%= pokemon.type2 %></th>
        <th scope="col"><%= pokemon.total %></th>
        <th scope="col"><%= pokemon.hp %></th>
        <th>
          <%= link_to "Show this pokemon", pokemon, class:"btn btn-primary" %>
        </th>
      </tr>
      <% end %>
  </tbody>
</table>

<%= link_to "New pokemon", new_pokemon_path, class:"btn btn-warning" %>